# Xcode user/local state
**/xcuserdata/
*.xcuserstate

# Workspace user data
**/*.xcworkspace/xcuserdata/
**/*.xcworkspace/xcshareddata/swiftpm/


# SwiftPM local caches/state
.swiftpm/
**/.swiftpm/

# Derived and build products
DerivedData/
build/
